{{template "main" .}}
{{define "content"}}
    <h1>O projektu</h1>
    <br>
    <p>
        Projekat je nastao iz potrebe da se na otvoreni internet postavi lista događaja kulturne i alternativne scene u Srbiji (i možda malo šire).
        Pod izrazom <em>otvoreni internet</em> smatramo web prostor koji je dostupan svim korisnicima interneta, a ne samo registrovanim korisnicima zatvorenih web servisa.
        Nažalost, mnoge organizacije postavljaju informacije o sopstvenim aktivnostima samo na socijalne mreže, zbog čega je veoma teško saznati za događaje ako niste član takve mreže.
        Kalendar pokušava da nas barem malo oslobodi naše zavisnosti (u svakom smislu te reči) od tehnoloških giganata kojima upravljaju algoritmi i reklame. 
    </p>
    <br>
    <p>
        U moru sličnih magazina i pregleda koji obrađuju dešavanja u Srbiji (najčešće samo u Begradu), ovaj kalendar se fokusira na male organizacije širom Srbije koje deluju lokalno i sa ograničinim resursima.
        Smatramo da je kulturna scena širom Srbije i dalje bogata, ali da je komercijalni saržaj guši.
    </p>
    <br>
    <p>
        Projekat je kreiran zajedničkim naporom <a href="https://dmz.rs/">organizacije Decentrala</a> i <a href="https://dckrov.rs/">društvenog centra Krov</a>.
        Projekat je otvorenog koda, i kodu se može pristupiti kroz <a href="">git repozitorijum</a>.
    </p>
{{end}}