{{template "main" .}}
{{define "content"}}
    <h1>{{.event.Name}}</h1>
    <p><a href="/organizations/{{.event.OrganizationCode}}">{{.event.OrganizationName}}</a></p>
    <p>
        {{if .event.Address}}{{.event.Address}},{{end}} {{.event.CityName}}
    </p>
    {{if .event.Description}}
        <br>
        <p>{{.event.Description}}</p>
    {{end}}
    {{if .user.Admin}}
        <div class="rightAligned">
            <a href="./edit" class="button skewer">
                <div>
                    Izmeni događaj
                </div>
            </a>
        </div>
    {{end}}
{{end}}