@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --color-bg: #202027;
    --color-light-bg: #333345;
    --color-dark: #000000;
    --color-orange: #e7c885;
    --border-radius: 4px;
}

body {
    background-color: var(--color-bg);
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 150%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 200px 0px #0002;
}

main {
    width: 800px;
    padding: 0 3rem 2rem;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    user-select: none;
    margin: 0.5rem 0;

    &>a {
        display: block;
        padding: 0.2rem 0.8rem 0.2rem 0.8rem;
        border-top-width: 0;

        &:hover {
            color: var(--color-orange);
        }

        &>span{
            display: block;
        }
    }
}

h1 {
    margin-bottom: 0;
    text-shadow: 5px 5px 0 var(--color-dark);
}

h2 {
    text-shadow: 5px 5px 0 var(--color-dark);
}

form {
    margin-bottom: 2rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    
    &>label{
        width: 100px;
    }

    &>.darkBox {
        flex-grow: 10;
    }
}

.rightAligned {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

a, a:visited {
    color: white;
    text-decoration: underline wavy;
}

a:hover {
    color: white;
    text-decoration: underline wavy;
    cursor: pointer;
}

p {
    margin: 0;
}

main {
    text-shadow: 2px 2px 0 var(--color-dark);
    position: relative;
}

body > footer {
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
    max-width: 800px;
    padding: 1rem;
    text-wrap-style: balance;

    & a, a:hover, a:visited {
        color: var(white);
    }
}

select {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: white;
    width: 100%;
}

input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1em;
    color: white;
    width: 100%;
}

textarea {
    background-color: transparent;
    color: white;
    width: 100%;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    resize: vertical;
    font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input:disabled {
    color: #b4b8a5;
    user-select: none;
}

button, .button {
    background-color: white;
    color: var(--color-bg) !important;
    text-shadow: none;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem !important;
    box-shadow: 2px 2px 0 var(--color-dark);
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.button:hover {
    text-decoration: none;
    background-color: var(--color-orange);
}

.rightAligner {
    margin-left: auto;
}

.skewer {
    transform: skew(20deg);
    padding: 0rem 1rem;
    border-radius: var(--border-radius);
}

.skewer>*{
    transform: skew(-20deg);
}

.darkBox {
    border-radius: var(--border-radius);
    background: var(--color-bg);
    border: 2px solid #999;
    transition: background-color 0.1s ease-in-out;
}

.darkBox:focus-within {
    background-color: var(--color-light-bg);
    border-color: #fff;
}

.entry {
    background-color: var(--color-light-bg);
    margin: 1rem 0;
    display: block;
    border: 2px solid #999;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    text-decoration: none;

    &:hover {
        border-color: var(--color-orange) !important;
        text-decoration: none;
        color: var(--color-orange);
    }

    &>header {
        font-weight: bold;
    }
}

.dateLocation {
    opacity: 0.9;
    text-shadow: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.entry strong {
    font-size: larger;
}


.noResult {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-style: italic;
    text-wrap-style: balance;
}

.validationErrors {
    color:#de9b9b
}


@media screen and (max-width: 850px) {
    main {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    nav {
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
    main {
        padding: 0.5rem;
    }
    
    .formRow {
        gap: 0;
        flex-direction: column;
    }

    nav {
        padding: 0;
        margin: 0;
        flex-direction: column;

        &>.rightAligner {
            display: none;
        }
        &>.skewer {
            transform: none;
        }
        &>.skewer>* {
            transform: none;
        }
    }

    .entry.skewer {
        transform: none;
        &>article {
            transform: none;
        }
    }
}